<% provide(:section, "Login") %>
<h1>Login</h1>


<div class="signin-form">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :username %>
      <%= f.text_field :username %>

	  <%= f.label :password %>
	  <%= f.password_field :password %>

	  <div class="check">
	  	<%= check_box_tag :stay_logged %>
	  	<%= label_tag(:stay_logged, "Keep me logged in") %>
	  </div>

	  <%= f.submit "Login", class: "btn btn-large btn-primary" %>

	<% end %>

	<p>New user? <%= link_to "Sign up now!", register_path %></p>
</div>