<%= provide(:section, "Admin panel") %>
<h1>Admin Panel</h1>
<ul>
	<li><%= link_to "Add forum", new_forum_path %></li>
	<li><%= link_to "Manage forums", admin_manage_forums_path %></li>
	<li><%= link_to "Manage BB-code", admin_manage_bbcode_path%></li>
	<li><%= link_to "Manage html filter", "#"%></li>
</ul>